html,
body {
    padding: 0;
    margin: 0;
    background: #00b4db;
    background: -webkit-linear-gradient(to bottom, #00b4db, #0083b0);
    background: linear-gradient(to bottom, #00b4db, #0083b0);
    color: white;
    font-family: 'Oswald', sans-serif;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div:first-child {
    height: 100%;
}

@media (max-width: 767px) {
    html,
    body,
    body > div:first-child,
    div#__next,
    div#__next > div:first-child {
        height: auto !important;
    }
}

a,
a:active,
a:hover,
a:visited {
    color: white;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
