@media (max-width: 767px) {
    .h-100 {
        height: auto !important;
    }
}

@media (min-width: 768px) {
    .portfolio {
        overflow: auto !important;
    }
}

.portfolio img {
    cursor: pointer;
    transition-duration: 0.5s;
}

.portfolio img:hover {
    transform: scale(1.05);
}
